.feedback1{
    position: relative;
    width: 100%;
}
.imgmain{
    max-width: 100%;
    flex-wrap: wrap;
}
.text-overlay {
    position: absolute;
    top: 50%; /* Adjust to position the text vertically */
    left: 50%; /* Adjust to position the text horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Text color */
    background-color: transparent; /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    font-size: 3rem;
    text-align: center;

}
.feed-content{
    display: flex;
    justify-content: start;
    flex-direction: column;

    
}
.feedback1-text{
   font-size: 17px;
margin-left: 50px;
}
.star{
    margin: 0px 5px 0px 0px;
    border: 1px solid white;
     border-radius:10px ;
     background-color:white;
     color: black;
     font-size: 26px;
}

