.logo{
    width: 165px;
}
a{
    color: white;
    text-decoration: none;
}
.nav-text{
    font-size: 1.5rem;
}
.franchise{
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}
.order-btn{
    border: 1px solid white;
    border-radius: 25px;
    background-color: red;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
}
.container{
    width: 100%;
}
.slt-txt{
    color: white;
    font-size: 3rem;
    padding: 15px;
    /* margin: 15px; */
    text-align: center;
    
}
.p-text{
    text-align: center;
    font-size: 1.5rem;
}
.img-brand{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.brand-container {
    justify-content: center;
    gap: 20px;
}
.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-btn {
    background-color: black;
    color: #ffff;
    border: 1px solid white;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 20px;
  }