.logo{
    width: 165px;
}
a{
    color: white;
    text-decoration: none;
}
.nav-text{
    font-size: 1.5rem;
}
.franchise{
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
}
.order-btn{
    border: 1px solid white;
    border-radius: 25px;
    background-color: red;
    color: white;
    padding: 15px 25px;
    cursor: pointer;
}
.container{
    width: 100%;
}
.slt-txt{
    color: white;
    font-size: 3rem;
    padding: 15px;
    text-align: center;
}
.p-text{
    text-align: center;
    font-size: 1.5rem;
}
.img-brand{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.brand-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-btn {
    background-color: black;
    color: #ffff;
    border: 1px solid white;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 20px;
}
.isb-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.isb-txt, .isb2-txt, .add-txt, .direction-btn {
    margin-left: 50px;
}
.isb-txt{
    font-size: 2rem;
    color: #ff0000;
}
.isb2-txt{
    font-size: 2rem;
    color: white;
    padding-bottom: 10px;
}
.add-txt{
    font-size: 1.5rem;
    color: white;
}
.direction-btn{
    background-color: black;
    color: #ffff;
    border: 1px solid white;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 50px; 
    margin-bottom: 20px; 
}
.img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img-isb{
    width: 449px;
    height: auto;
}
.fsbimg-container{
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 20px;
}
.text-right{
    text-align: right;
}
.fsb-text{
    font-size: 2rem;
    color: #ff0000;
    align-items: center;
    
}
.fsb2-text{
    font-size: 2rem;
    color: white;
    padding-bottom: 10px; 
    
   